/****** General ***********/

/*utilisation de la police Raleway dans tout le site*/
html {
    display:flex;
    justify-content: center;
}

* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --main-bg-color-w:#ffffff;
    --filter-bg-color: #DEEBFF;
    --footer-bg-color: #F2F2F2;
    --placeholder-color:#000000;
}

.fa-solid {
    color: var(--main-color);
}

body {
    max-width: 1360px; /*1440 - (2 x 40 padding) */
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    box-sizing: border-box;
    padding: 0px 40px 0px 40px;
}

a {
    color: inherit;
    text-decoration: none;
}

h2, h3, p {
    margin: 0;
}

.section-title {
    font-size: 22px;
    margin-bottom: 30px;
}

.card {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** en-tête *******************************/

.en-tete {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}

#en-tete_img {
    display:flex;
    align-items: center;
    justify-content: left;
}

.en-tete img {
    height: 20px;
    margin-top:25px;
    margin-bottom: 15px;
}

.en-tete ul {
    width: 300px;
    height: 50px;
    display:flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.en-tete li {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    border-top:3px solid var(--main-bg-color-w);
}

.en-tete li :hover {
    color: var(--main-color);
    margin-top:-3px;
    border-top:3px solid var(--main-color);
}

.en-tete ul a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/****** Filtres *******************************/

#filtre {
    display: flex;
    flex-direction: column;
    
}

#filtre_txt, #filtre_geoloc, #filtre_footer {
    margin-bottom: 30px;
}

#filtre_txt p, h2 {
    margin:0;
    line-height: 35px;
}

#filtre_geoloc {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#ico_geoloc {
    width: 50px;
    height: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color:black;
    background-color: var(--main-bg-color);
    border-radius: 16px 0px 0px 16px;
}

#input_geoloc {
    width: 200px;
    height: 50px;
    font-weight: bold;
    font-size: 1rem;
    border : 1px solid var(--main-bg-color);
    padding-left: 30px;
}

::placeholder {
    color:var(--placeholder-color);
}

#bouton_recherche {
    width: auto;
    height: 50px;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    background-color: var(--main-color);
    border-radius: 0px 16px 16px 0px;
    padding: 0px 15px 0px 15px;
    border:none;
}

#loupe {
    display:none;
}

#filtre_cat {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

#filtre_cat p {
    margin: 0px 20px 20px 0px;
}

#filtre_cat img {
    width: 22px;
    height: 22px;
}

#filtre_cat_list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:0;
    padding:0;
}

#filtre_cat_list li {
    margin-right: 20px;
    margin-bottom: 20px;
}

/*masque et réduit l'espace des cases à cocher du formulaire "filtre"*/
input[type="checkbox"] {
    visibility: hidden;
    display:none;
}

#filtre_cat_list i {
    font-size: x-large;
    padding-left: 15px;
    padding-right: 15px;
}

#filtre_cat_list span {
    padding-right: 15px;
}

#filtre_cat_list label {
    display:flex;
    height: 45px;
    width: auto;
    border:3px solid var(--main-bg-color);
    border-radius: 25px 25px 25px 25px;
    justify-content: space-around;
    align-items: center;
}

#filtre_cat_list label:hover {
    background-color: var(--filter-bg-color);
}

#filtre_cat_list label:checked {
    background-color: var(--filter-bg-color);
}

#filtre_footer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#filtre_footer i {
    display:flex;
    justify-content: center;
    align-items: center;
    /*width: 24px;
    height: 24px; se déforme sur petits écrans 375px */
    border:1px solid var(--filter-bg-color);
    border-radius:12px 12px 12px 12px;
    font-size: 1em;
    padding: 4px 8.5px 4px 8.5px; /* plus stable que width: 24px et height: 24px qui "s'écrasent" losque l'écran se réduit */
}

#filtre_footer p {
    padding-left: 10px;
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    box-sizing: border-box;
}

/****** Hebergement ***********/

.hebergement {
    background-color: var(--main-bg-color);
    width: 65%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-bottom: 30px;
}

.hebergement-conteneur {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
}


.hebergement-conteneur a {
    width: 30%;
}

.hebergement-conteneur a:hover {
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.5));
    transition: 0.2s;
}

.hebergement-conteneur a:hover {
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.5));
    transition: 0.2s;
}

.hebergement-cards {
    display:flex;
    flex-direction: column;
    align-content: space-between;
    background-color: var(--main-bg-color-w);
    width: 100%;
    height: 205px;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    margin-bottom: 30px;
}

.hebergement-cards img {
    width: 100%;
    height:123px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.hebergement-card-content {
    width: 100%;
    height:40%;
    display: flex;
    flex-direction: column;
    line-height: 25px;
    font-size: auto;
    padding: 5px 15px 5px 15px;
    box-sizing: border-box;
}

#afficher_plus {
    font-weight: bold;
}

#afficher_plus:hover {
    color: var(--main-color);
}

/****** Populaires ***********/

.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
    padding: 30px 30px 0px 30px;
    margin-bottom: 30px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items:baseline;
}

.populaires-cards .card {
    width: 100%;
    height: 150px;
    display: flex;
    margin-bottom: 30px;
}

.populaires-cards img {
    width: 33%;
    height: 150px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
}

.populaires-cards .card-content {
    width: 67%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 25px;
    box-sizing: border-box;
    padding: 15px 15px 5px 15px;   
}

.populaires-cards a:hover {
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.5));
    transition: 0.2s;
}

/************ Activités *********************/

.activite {
    padding: 30px;
    margin-bottom: 30px;
}

.activite-conteneur {
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.activite-conteneur a {
    width: 23%;
    height: 436px;
}

.activite-conteneur a:hover {
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.5));
    transform: scale(1.05);
    transition: 0.2s;
}

.activite-conteneur a:hover {
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.5));
    transform: scale(1.05);
    transition: 0.2s;
}

.activite-cards {
    display:flex;
    flex-direction: column;
    align-content: space-around;
    background-color: var(--main-bg-color-w);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    box-sizing: border-box;
}

.activite-cards img {
    width: 100%;
    height: 377px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.tittle-activite {
    height: 59px;
    display:flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
}

/****** Footer ****************************/

.footer-conteneur {
    background-color: var(--footer-bg-color);
    display:flex;
    flex-direction: row;
    padding: 30px;
}

.footer-bloc {
    width: 33%;
    display:flex;
    flex-direction: column;
    line-height: 35px;
}

.footer-conteneur a:hover {
    color: var(--main-color);
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* Large devices <1440px --> Rien à faire car body déjà borné ligne 27*/

/* Point de rupture texte contenus dans les cards pour éviter les dépassements*/
@media (max-width: 1205px) {
.card-title {
    font-size: 12px;
}

.card-subtitle {
    font-size: 14px;
}
}

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .card-title {
        font-size: 16px;
    }
    
    .card-subtitle {
        font-size: 16px;
    }

    #filtre_cat {
        flex-direction: column;
        align-items: start;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergement {
        width: 100%;
    }

    .populaires {
        width: 100%;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activite-conteneur a {
        height: 300px;
    }

    .activite-cards img {
        height: 230px;
    }

}

/* Point de rupture texte contenus dans les cards pour éviter les dépassements*/
@media (max-width: 870px) {
    .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-content {
    line-height: 21px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {    

    .main-container {
        padding: 0;
    }
    
    .card-title {
        font-size: 16px;
    }
    
    .card-subtitle {
        font-size: 16px;
    }

    .en-tete {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #en-tete_img {
        justify-content: center;
    }

    .en-tete ul {
        justify-content: space-between;
        width: 100%;
        text-align: center;
    }

    .en-tete li {
        border-bottom: 3px solid var(--main-bg-color);
    }

    .en-tete li :hover {
        border-top: 3px solid var(--main-bg-color-w);
        border-bottom: 3px solid var(--main-color);
    }

    #filtre p, h2 {
        padding-left: 20px;
        padding-right: 20px;
    }

    #filtre_geoloc {
        padding-left: 20px;
        padding-right: 20px;
    }

    #input_geoloc {
        width: min(100%,250px);
    }

    #loupe {
        display: flex;
        justify-content: center;
        color:white;
        font-weight: bold;
    }

    #bouton_recherche {
        width: 50px;
        border-radius: 16px 16px 16px 16px;
        box-shadow: 0px 5px 2px 1px rgba(0, 0, 0, 0.1);
        margin-left: -15px;
    }

    #recherche {
        display:none;
    }

    #filtre_cat {
        padding-left: 10px;
        padding-right: 82px;
    }

    #filtre_cat p {
        padding-left: 10px;
    }

    #filtre_cat_list {
        justify-content: center;
    }

    #filtre_cat_list li {
        font-size: 0.9rem;
        width: 155px;
        margin-right: 7px;
        margin-left: 7px;
        margin-bottom: 20px;
    }

    #filtre_cat_list i {
        font-size: 1rem;
        font-size: x-large;
        padding-left: 10px;
        padding-right: 10px;
    }

    #filtre_footer {
        padding-left: 20px;
    }

    #filtre_footer p {
        padding-left: 10px;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
    }

    .populaires {
        order:1;
    }

    .populaires-title {
        padding-left:5%;
    }

    .populaires-cards {
        flex-direction: column;
        align-items: center;
    }

    .populaires-cards a {
        width: min(100%, 315px);
    }

    .hebergement {
        order:2;
        background-color: var(--main-bg-color-w);
    }

    .hebergement h2 {
        padding-left: 5%;
    }

    #afficher_plus {
        padding-left: 5%;
    }

    .hebergement-conteneur {
        flex-direction: column;
        align-items: center;
    }

    .hebergement-conteneur a {
        width: min(100%, 310px);
    }

    .activite {
        order:3;
    }

    .activite-title {
        padding-left: 5%;
    }

    .activite-conteneur {
        flex-direction: column;
        align-items: center;
    }

    .activite-conteneur a {
        width: min(100%, 315px);
        height: 200px;
        margin-bottom: 15px;
    }

    .activite-conteneur img {
        height: 150px;
    }

    .footer-conteneur {
        flex-direction: column;
    }

    .footer-bloc {
        width: 100%;
        padding-left: 15px;
        margin-bottom: 40px;
    }
}

/* résolution bug d'affichage marges blanches entre 695px et 767px */
@media (max-width: 695px) {
    #filtre_cat {
        padding-right: 10px;
    }
}